<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragment/layout :: head"/>
</head>
<body>
<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-1">Name:</div>
        <div class="col-6" th:text="${detail.name}"></div>
    </div>
    <div class="row">
        <div class="col-1">Address:</div>
        <div class="col-6" th:text="${detail.address}"></div>
    </div>
    <div class="row">
        <div class="col-1">Routing:</div>
        <div class="col-6" th:text="${detail.routing}"></div>
    </div>
    <div class="row">
        <div class="col-1">Number:</div>
        <div class="col-6" th:text="${detail.number}"></div>
    </div>
</div>
</body>

