<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragment/layout :: head"/>
</head>
<body>
<table class="table table-striped table-bordered">
    <thead>
    <th>type</th>
    <th>name</th>
    <th>id</th>
    <th>currency</th>
    <th>balance</th>
    </thead>
    <tbody>
    <tr th:each="acct : ${accounts}">
        <td><a th:href="@{/detail(customerId=${acct.getCustomerId()}, accountId=${acct.getId()})}" th:text="${acct.getType()}"></a> </td>
        <td th:text="${acct.getName()}"></td>
        <td th:text="${acct.getId()}"></td>
        <td th:text="${acct.getCurrency()}"></td>
        <td th:text="${acct.getBalance()}"></td>
    </tr>
    </tbody>
</table>
</body>